################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSWebAPI/.vs/AWSWebAPI
/AWSWebAPI/bin/Debug/net6.0
/AWSWebAPI/obj
/AWSWebAPI/.config
/AWSWebAPI/bin/Release/net6.0/publish
/AWSWebAPI/bin/Release/net6.0
/AWSWebAPI/.vs/ProjectEvaluation/awswebapi.projects.v5.2
/AWSWebAPI/.vs/ProjectEvaluation/awswebapi.metadata.v5.2
